body {
    text-align: center;
    background-color: #ededed;
    font-family: Calibri;
    font-weight: bold;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
    border-style: none;
}

input[type=submit],
input[type=reset],
button {
    width: 80px;
    height: 20px;
    background-color: #9a45d4;
    color: #fff;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
    background-color: #ff4e88;
    color: #000;
}
